<% if model.errors.any? %>
<ul>
    <% model.errors.full_messages.each do |message| %>
    <li style="color: red; font-weight: bold; list-style: none;"><%= message %></li>
    <% end %>
</ul>
<% end %>