<p>キャンペーン配信画面：パブリッシャー</p>
<p>タイトル：<%= @campaign.title %></p>
<p>セッションID：<%= @campaign.session_id %></p>

<div id="localVideo"></div>

<script type="text/javascript">
    <%= render "show_publisher.js" %>
</script>