<p>キャンペーン配信画面：パブリッシャー</p>
<p>タイトル：<%= @campaign.title %></p>
<p>セッションID：<%= @campaign.session_id %></p>

<div id="publisher-wrapper">
    <div v-show="isVerified" id="video-wrapper">
        <div id="videos"></div>
        <div id="user-interface">
            <div>
                <button @click="connect">{{ connectButtonText }}</button>
                <button @click="publish" v-if="vonageHelper.isConnected">{{ publishButtonText }}</button>
                <button @click="vonageHelper.setAudioEnabled(!vonageHelper.enableAudio)">{{ audioButtonText }}</button>
                <button @click="vonageHelper.setVideoEnabled(!vonageHelper.enableVideo)">{{ videoButtonText }}</button>
                <button @click="vonageHelper.startScreenShare()" v-if="vonageHelper.isPublished">screen share</button>
            </div>
            <div>
                <select @change="vonageHelper.setAudioSource(event.target.value)">
                    <option
                    v-for="audioDevice in vonageHelper.audioDeviceList"
                    :value="audioDevice.deviceId"
                    :selected="vonageHelper.selectedAudioDeviceId === audioDevice.deviceId">
                        {{ audioDevice.label }}
                    </option>
                </select>
                <select @change="vonageHelper.setVideoSource(event.target.value)">
                    <option
                    v-for="videoDevice in vonageHelper.videoDeviceList"
                    :value="videoDevice.deviceId"
                    :selected="vonageHelper.selectedVideoDeviceId === videoDevice.deviceId">
                        {{  videoDevice.label }}
                    </option>
                </select>
            </div>
        </div>
        <div id="information">
            <div id="audio-level"><div></div></div>
        </div>
        <div id="message-area" v-if="vonageHelper.isConnected">
            <div style="font-weight: bold;">シグナル</div>
            <div>
                <input type="text" placeholder="type" v-model="signalText['type']">
                <input type="text" placeholder="data" v-model="signalText['data']">
                <button @click="sendSignal">送信</button>
            </div>
            <div v-for="signal in vonageHelper.signalObj">type: {{ signal.type }}, data: {{ signal.data }}</div>
        </div>
    </div>

    <div v-show="!isVerified" id="auth-wrapper">
        <input type="text" id="user-name" v-model="userName" placeholder="名前を入力">
        <button @click="authRequest">入室リクエストを送信</button>
    </div>
</div>

<script type="text/javascript">
    <%= render "show_publisher.js" %>
</script>