<div>
    <div id="jquery-div">
        <p>jQuery稼働テスト</p>
        <p>0</p>
        <button>カウントアップ</button>
    </div>
    <hr>
    <div id="vue-div">
        <p>Vue.js稼働テスト</p>
        <p>{{ counter }}</p>
        <button @click="countUp">カウントアップ</button>
    </div>
</div>
<script type="text/javascript">
    <%= render "test.js" %>
</script>