// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#moderator-wrapper, #publisher-wrapper, #subscriber-wrapper, #video-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#videos {
    display: flex;
    > div {
        aspect-ratio: 16 / 9;
    }
}

#audio-level {
    width: 150px;
    height: 20px;
    background-color: black;

    > div {
        background-color: red;
        width: 0;
        height: 100%;
    }
}

#message-area, #panelist-area, #request-area {
    border: 1px solid black;
    min-height: 100px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}